html, body, #root{
  height: 100%;
}

body {
  background: #353535;
}

.wrapper {
  height: 100%;
  width: 100%;
  align-items: stretch;
  display: flex;
}

nav.sidebar {
  min-width: 250px;
  max-width: 250px;
  background: rgb(45, 45, 45);
  height: 100%;
}

nav.drag-bar {
  -webkit-app-region: drag;
  height: 100px;
  width: 100%;
}
